{% extends 'dashboardBase.html' %}
{% load static %}

{% block css_extend %}
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'task/css/task.css' %}" />
    <!-- DataTables -->
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.20/cr-1.5.2/r-2.2.3/datatables.min.css"
    />
    <!-- DataTable Checkbox -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/jquery-datatables-checkboxes@1.2.11/css/dataTables.checkboxes.css"
    />
{% endblock %}

{% block nav_task_active %}active{% endblock %}

{% block page_title %}我的任务{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item active">
        我的任务
    </li>
    <li class="breadcrumb-item"></li>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="card m-auto" id="task-card">
        <div class="card-body">
            <form action="" id="task-form" method="POST">
                {% csrf_token %}
                <table
                    id="task-table"
                    class="table table-hover text-center text-nowrap"
                >
                    <thead>
                      <tr>
                        <th></th>
                        <th>任务名</th>
                        <th>采集状态</th>
                        <th>操作</th>
                        <th>最近编辑时间</th>
                        <th>运行耗时</th>
                        <th>执行次数</th>
                        <th>采集完成时间</th>
                        <th>进度情况</th>
                        <th>更多操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for task in task_list %}
                          <tr id="{{ task.pk }}">
                            <td>{{ forloop.counter }}</td>
                            <td>
                              <a
                                data-id="{{ task.pk }}"
                                href="#rename-task-modal"
                                data-toggle="modal"
                                data-target="#rename-task-modal"
                                ><i class="fas fa-pen hidden"></i>&nbsp;</a
                              >{{ task.name }}
                            </td>
                            <td class="{{ task.status }}">
                              {{ task.display_status }}
                            </td>
                            <td class="{{ task.status }}">
                              {% if task.status == 'ready' %}
                                  <a href="" data-toggle="modal" data-target="" data-id="{{ task.pk }}">
                                    <i class="far fa-pause-circle hidden"></i>
                                  </a>
                                  <a
                                        data-id="{{ task.pk }}"
                                        href="#cancel-task-modal"
                                        data-toggle="modal"
                                        data-target="#cancel-task-modal"
                                      >
                                        <i class="far fa-stop-circle hidden"></i>
                                  </a>
                              {% elif task.status == 'paused' %}
                                  <a href="" data-toggle="modal" data-target="" data-id="{{ task.pk }}">
                                    <i class="far fa-play-circle hidden"></i>
                                  </a>
                                  <a
                                    data-id="{{ task.pk }}"
                                    href="#cancel-task-modal"
                                    data-toggle="modal"
                                    data-target="#cancel-task-modal"
                                  >
                                    <i class="far fa-stop-circle hidden"></i>
                                  </a>
                              {% elif task.status == 'running' %}
                                  <a href="" data-toggle="modal" data-target="" data-id="">
                                    <i class="far fa-pause-circle hidden"></i>
                                  </a>
                                  <a
                                    data-id="{{ task.pk }}"
                                    href="#cancel-task-modal"
                                    data-toggle="modal"
                                    data-target="#cancel-task-modal"
                                  >
                                    <i class="far fa-stop-circle hidden"></i>
                                  </a>
                              {% elif task.status == 'finished' %}
                                  <a
                                    data-id="{{ task.pk }}"
                                    href="#restart-task-modal"
                                    data-toggle="modal"
                                    data-target="#restart-task-modal"
                                  >
                                    <i class="far fa-play-circle hidden"></i>
                                  </a>
                              {% elif task.status == 'canceled' %}
                                  <a
                                    data-id="{{ task.pk }}"
                                    href="#restart-task-modal"
                                    data-toggle="modal"
                                    data-target="#restart-task-modal"
                                  >
                                    <i class="far fa-play-circle hidden"></i>
                                  </a>
                              {% endif %}
                            </td>
                            <td>{{ task.create_time | date:"y/m/d H:i" }}</td>
                            <td>{{ task.duration }}</td>
                            <td>{{ task.run_times }}</td>
                            <td>{{ task.finish_time | date:"y/m/d H:i" }}</td>
                            <td>
                              <div class="progress progress-xs" title="{{ task.progress }}">
                                <div
                                  class="progress-bar progress-bar-danger progress-bar-striped progress-bar-animated"
                                  style="width: {{ task.progress }};"
                                ></div>
                              </div>
                            </td>
                            <td>
                              <div class="dropdown">
                                <a
                                  class="nav-link task-dropdown"
                                  data-toggle="dropdown"
                                  href=""
                                >
                                  <i class="fas fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="{% url 'template_setting' task.template.pk %}?taskID={{ task.pk }}">编辑</a>
                                  <a class="dropdown-item" href="{% url 'preview_data' task.pk %}">查看采集数据</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="cancel-task-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'cancel_task' 1 %}" method="POST" id="cancel-task-form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="card-comments">
                            <div class="card-comment">
                              <img
                                class="img-circle img-sm"
                                src="{% static 'img/warning.JPG' %}"
                                alt="warning"
                              />
                              <div class="comment-text">
                                <h5 class="username">确定</h5>
                                <!-- /.username -->
                                确定要终止吗？
                              </div>
                              <!-- /.comment-text -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                      >
                        取消
                      </button>
                      <button type="submit" class="btn btn-primary">
                        确定
                      </button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
            </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="restart-task-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="restart-task-form" action="{% url 'restart_task' 1 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="card-comments">
                        <div class="card-comment">
                          <img
                            class="img-circle img-sm"
                            src="{% static 'img/warning.JPG' %}"
                            alt="warning"
                          />
                          <div class="comment-text">
                            <h5 class="username">确定</h5>
                            <!-- /.username -->
                            原有采集数据会被覆盖，确定要重新开始吗？
                          </div>
                          <!-- /.comment-text -->
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                      >
                        取消
                      </button>
                      <button type="submit" class="btn btn-primary">
                        确定
                      </button>
                    </div>
                </form>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="rename-task-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">修改任务名</h4>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="rename-task-form" action="{% url 'rename_task' 1 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label" for="task-name-input"
                              >任务名：</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="task-name-input"
                              placeholder="请输入新任务名..."
                            />
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                      >
                        取消
                      </button>
                      <button type="submit" class="btn btn-primary">
                        确定
                      </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block js_extend %}
    <!-- DataTables -->
    <script
        type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.20/cr-1.5.2/r-2.2.3/datatables.min.js"
    ></script>
    <!-- DataTable Checkbox -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-datatables-checkboxes@1.2.11/js/dataTables.checkboxes.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'task/js/task.js' %}"></script>
    <script>
        let userID = {{ user.pk }};

        let taskSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/task/' + userID + '/');

        taskSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            let message = data['message'];
            let taskID = message["task_id"];
            let status = "";
            if("status" in message) {
                status = message["status"];
            }
            let statusDisplayName = "";
            if("status_display_name" in message) {
                statusDisplayName = message["status_display_name"];
            }
            let progress = message["progress"];
            let duration = "";
            if("duration" in message) {
                duration = message["duration"];
            }
            let finishTime = "";
            if("finish_time" in message) {
                finishTime = message["finish_time"];
            }
            let tdEles = $("tr#" + taskID + " td");
            // 修改状态
            if(status !== "") {
                tdEles.eq(2).html(statusDisplayName).removeClass().addClass(status);
            }
            let ops = tdEles.eq(3);
            if(status !== "") {
                // 修改操作
                ops.removeClass().addClass(status);
            }
            if (status === "finished") {
                ops.empty();
                ops.append("                          <a\n" +
                    "                            data-id=\"" + taskID + "\"\n" +
                    "                            href=\"#restart-task-modal\"\n" +
                    "                            data-toggle=\"modal\"\n" +
                    "                            data-target=\"#restart-task-modal\"\n" +
                    "                          >\n" +
                    "                            <i class=\"far fa-play-circle hidden\"></i>\n" +
                    "                          </a>");
            }
            tdEles.eq(8).find(".progress")
                       .attr("title", progress)
                       .find(".progress-bar")
                       .css("width", progress);
            if(duration !== "") {
                tdEles.eq(5).html(duration);
            }
            if(finishTime !== "") {
                tdEles.eq(7).html(finishTime);
            }
            taskTable.columns.adjust().draw();
        };

        taskSocket.onclose = function(e) {
            console.error('Task socket closed unexpectedly');
        };
    </script>
    <script>
        btnEle.on("click", function () {
          if($(this).find("i").hasClass("fa-sync")) {
              location.reload();
              taskTable.columns.adjust().draw();
              return false;
          } else {
              let taskForm = $("#task-form");
              taskForm.off("submit");
              taskForm.submit(function () {
                let isValid = true;
                let form = this;
                // Iterate over all selected checkboxes
                let rows_selected = taskTableBodyEle.find("tr.selected");
                rows_selected.each(function () {
                  let taskStatus = $(this).find("td:nth-of-type(3)").text().trim();

                  if(taskStatus !== "已完成" && taskStatus !== "已终止") {
                      Toast.fire({
                          icon: "error",
                          title: "&nbsp;非已完成或已终止状态的任务不能删除",
                      });
                      isValid = false;
                      return false;
                  }
                });
                if(isValid) {
                    let post_data = {
                      'csrfmiddlewaretoken': $(form).find("input[name=csrfmiddlewaretoken]").val()
                    };
                    let taskIDs = [];
                    rows_selected.each(function () {
                        let taskID = parseInt($(this).attr("id"));
                        taskIDs.push(taskID);
                    });
                    post_data["ids"] = JSON.stringify(taskIDs);
                    $.ajax({
                      url: '{% url 'batch_delete_task' %}',
                      type: "POST",
                      data: post_data,
                      cache: false,
                      success: function (data) {
                          if(data["status"] === "SUCCESS") {
                              Toast.fire({
                                  icon: "success",
                                  title: "&nbsp;任务删除成功",
                              });
                              taskTable.rows(".selected").remove().draw(false);
                              // reset button
                              btnEle.html("<i class='fas fa-sync'></i>&nbsp;刷新");
                          } else {
                              Toast.fire({
                                  icon: "error",
                                  title: "&nbsp;" + data["message"],
                              });
                          }
                      },
                      error: function (xhr) {
                          console.log(xhr);
                      }
                    });
                }
                return false;
              });
          }
        });

        taskTableBodyEle.find("tr td:nth-of-type(4) a").on("click", function () {
            let ele = $(this).find("i");
            let parent = $(this).parent("td");
            let status = parent.prev("td");
            let taskID = $(this).attr("data-id");
            let post_data = {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            if(ele.hasClass("fa-pause-circle")) {
                ele.attr("class", "far fa-play-circle hidden");
                parent.removeClass();
                parent.addClass("paused");
                status.removeClass();
                status.addClass("paused");
                status.html("已暂停");
                $.ajax({
                    url: "{% url 'pause_task' 1 %}".split("/").slice(0, -2).concat(taskID).join("/") + "/",
                    type: "POST",
                    data: post_data,
                    cache: false,
                    success: function (data) {
                      if(data["status"] === "SUCCESS") {
                          Toast.fire({
                              icon: "success",
                              title: "&nbsp;任务已暂停",
                          });
                      } else {
                          Toast.fire({
                              icon: "error",
                              title: "&nbsp;" + data["message"],
                          });
                      }
                    },
                    error: function (xhr) {
                      console.log(xhr);
                    }
                });
            } else if(ele.hasClass("fa-play-circle")) {
                let statusText = status.text().trim();
                if(statusText !== "已完成" && statusText !== "已终止") {
                    // 进度条为0则置为等待运行，否则置为运行中
                    let progress = parent.nextAll("td").eq(4).find(".progress").attr("title");
                    ele.attr("class", "far fa-pause-circle hidden");
                    parent.removeClass();
                    status.removeClass();
                    if(progress === "0%") {
                        parent.addClass("ready");
                        status.addClass("ready");
                        status.html("等待运行");
                        $.ajax({
                            url: "",
                            type: "POST",
                            data: post_data,
                            cache: false,
                            success: function (data) {
                              if(data["status"] === "SUCCESS") {
                                  Toast.fire({
                                      icon: "success",
                                      title: "&nbsp;任务正在排队",
                                  });
                              } else {
                                  Toast.fire({
                                      icon: "error",
                                      title: "&nbsp;" + data["message"],
                                  });
                              }
                            },
                            error: function (xhr) {
                              console.log(xhr);
                            }
                        });
                    } else {
                        parent.addClass("running");
                        status.addClass("running");
                        status.html("运行中");
                        $.ajax({
                            url: '',
                            type: "POST",
                            data: post_data,
                            cache: false,
                            success: function (data) {
                              if(data["status"] === "SUCCESS") {
                                  Toast.fire({
                                      icon: "success",
                                      title: "&nbsp;任务将从暂停位置开始继续运行",
                                  });
                              } else {
                                  Toast.fire({
                                      icon: "error",
                                      title: "&nbsp;" + data["message"],
                                  });
                              }
                            },
                            error: function (xhr) {
                              console.log(xhr);
                            }
                        });
                    }
                }
            }
            taskTable.columns.adjust().draw();
        });
    </script>
{% endblock %}
