.dataTables_paginate {
  margin-top: 15px !important;
}

.dataTables_info {
  margin-top: 8px !important;
}

#export-data-btn {
  margin-left: 10px;
}

#export-modal .modal-body h6 {
  color: #888;
}

#data-table button {
  border: none !important;
  background-color: transparent !important;
}

#export-modal .btn-primary {
  color: #fff !important;
}

#data-table td {
  vertical-align: middle !important;
}

.not-show {
  display: none !important;
}