.login-box{
    width:500px;
}
.mb-1{
    margin-left: 60px;
}
.col-12 {
    margin-bottom: 15px;
}
img {
    float: left;
    height: auto;
    width: 65px;
    margin-left: 80px;
}
.login-logo{
    font-weight: normal!important;
    font-size: 1.65rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 150px;
    text-align: left;
}
.widget-user-desc{
    font-size: 0.95rem;
    margin-left: 150px;
    text-align: left;
    letter-spacing: 15.8952px;
}
.widget-user-header{
    padding-bottom: 10px;
    width:90%;
    padding-left: 5%;
}
.widget-user-username {
    margin-left: 150px!important;
    font-size: 25px;
    margin-bottom: .3rem;
}