{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 上传模板{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'administrator/css/templateUpload.css' %}" />
{% endblock %}

{% block nav_upload_active %}active{% endblock %}
{% block nav_admin_active %}active{% endblock %}
{% block nav_tree_open %}menu-open{% endblock %}

{% block page_title %}上传模板{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item active">
        上传模板
    </li>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-md">
            <div class="card">
                <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">模板信息</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">采集字段</a></li>
                    <li class="nav-item"><a class="nav-link" href="#parameter" data-toggle="tab">模板参数</a></li>
                </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                <form action="{% url 'create_template' %}" method="post" onsubmit="return validate();">
                    {% csrf_token %}
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">所属网站</label>
                            <div class="col-sm-10">
                                <select class="custom-select" name="site_name">
                                    {% for site in site_list %}
                                        <option value="{{site.name}}">{{site.display_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">英文名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  placeholder="对应Spider名字" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">中文名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="展示的名字" name="display_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">模板简介</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="HTML格式" name="introduction"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">示例数据</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputExperience" placeholder="HTML格式" name="sample_data"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">划分参数</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="用哪个参数划分任务（应为数字类型）" name="split_param">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">模板图标</label>
                          <div class="col-sm-10">
                            <div class="custom-file">
                                <div class="input-group-append">
                                    <input type="file" class="custom-file-input" id="file-1" onchange="handleFile1()" name="logo">
                                    <div class="input-group-text menu">预览图片<img src="" height="400" id='img-1'></div>
                                </div>
                                <label class="custom-file-label"  id='fileName-1'>jpg文件</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">egg文件</label>
                          <div class="col-sm-10">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="file-2" onchange="handleFile2()" name="egg">
                              <label class= "custom-file-label" id='fileName-2'>选择文件</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">上传模板</button>
                            </div>
                        </div>
                    <!-- /.card -->
                    </div>
                    <div class="tab-pane" id="settings"><div class="card-body">
                        <button class='btn btn-success' type="button" onclick="add1()">新增采集字段</button>
                        <table  class="table">
                          <thead>
                          <tr>
                            <th>英文名称</th>
                            <th>中文名称</th>
                            <th>预览截图</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody id='body1'>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="parameter">
                        <div class="card-body">
                        <button class='btn btn-success' type="button" onclick="add2()">新增模板参数</button>

                        <table  class="table">
                          <thead>
                          <tr>
                            <th>英文名称</th>
                            <th>中文名称</th>
                            <th>输入标签</th>
                            <th>参数类型</th>
                            <th>最小值</th>
                            <th>最大值</th>
                            <th>长度</th>
                            <th>预览截图</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody id='body2'>
                          </tbody>
                        </table></div>
                    </div>
                </div>
                </form>
                <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'administrator/js/templateUpload.js' %}"></script>
    <script src="{% static 'administrator/js/bs-custom-file-input.min.js' %}"></script>
    <script>
        var fileInput = document.getElementById('file-1'),
        previewImg = document.getElementById('img-1');
        fileInput.addEventListener(
            'change', function () {
            var file = this.files[0];
            var reader = new FileReader();
            // 监听reader对象的的onload事件，当图片加载完成时，把base64编码賦值给预览图片
            reader.addEventListener("load", function () {
                previewImg.src = reader.result;
            }, false);
            // 调用reader.readAsDataURL()方法，把图片转成base64
            reader.readAsDataURL(file);}, false
        );
    </script>
{% endblock %}

