{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 管理现有模板{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'administrator/css/templateSearchAdmin.css' %}" />
{% endblock %}

{% block nav_modify_active %}active{% endblock %}
{% block nav_admin_active %}active{% endblock %}
{% block nav_tree_open %}menu-open{% endblock %}

{% block page_title %}管理现有模板{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item active">
        管理现有模板
    </li>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">爬虫模板列表</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                    <form action="{% url 'delete_template'%}" method="post"  onsubmit="return validate();">
                        {% csrf_token %}
                        <input type="hidden" name="delete_id" id="delete_id">
                        <table class="table text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>英文名称</th>
                                <th>中文名称</th>
                                <th>所属网站</th>
                                <th>修改日期</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for template in template_list %}
                                <tr>
                                    <td>{{template.id}}</td>
                                    <td>{{template.name}}</td>
                                    <td>{{template.display_name}}</td>
                                    <td>{{template.site}}</td>
                                    <td>{{template.update_time}}</td>
                                    <td>
                                        <a href="{% url 'modify_template' template.id%}" type="button" class="btn btn-block btn-primary">修改</a>
                                    </td>
                                    <td>
                                        {% if template.can_delete %}
                                            <button class="btn btn-block btn-danger" type="submit" onclick="deleteRow(this)" data-id="{{ template.id }}">删除</button>
                                        {% else %}
                                            <a type="button" class="btn btn-block btn-danger disabled" >删除</a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'administrator/js/bs-custom-file-input.min.js' %}"></script>
    <script>
        function deleteRow(o) {
            document.getElementById("delete_id").value=$(o).data('id');
            var input=document.getElementsByName('delete_id').value;
        }
    </script>
    <script>
        function validate() {
            var flag=confirm("确认要删除这个模板吗?");
            if(flag===true)
            {
                alert("删除成功！");
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>
{% endblock %}

