{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 个人信息{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'user/css/information.css' %}" />
{% endblock %}

{% block page_title %}个人信息{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item active">
        个人信息
    </li>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-md">
            <div class="card">
                <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">个人信息</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">修改信息</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settingpassword" data-toggle="tab">更改密码</a></li>
                </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                src="{% static 'user/img/user4-128x128.jpg' %}"
                                alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">{{ request.user.username }}</h3>


                        <div class="card-body">


                            <strong><i class="far fa-file-alt mr-1"></i> 昵称</strong>

                            <p class="text-muted">{{ request.user.first_name }}</p>

                            <hr>

                            <strong><i class="fas fa-book mr-1"></i>用户身份</strong>

                            <p class="text-muted">
                                {% if  request.user.is_superuser == 1 %}
                                管理员
                                {% elif request.user.is_superuser == 0 %}
                                普通用户
                                {% endif %}
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> 邮箱</strong>

                            <p class="text-muted">{{ request.user.email }}</p>
                        </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    </div>
                    <div class="tab-pane" id="settings">
                    <form class="form-horizontal" action="{% url 'user_profile' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="昵称"
                                   name="first_name" value="{{ request.user.first_name }}" maxlength="20" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="邮箱"
                                   name="email" value="{{ request.user.email }}" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        </div>
                        <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">提交信息</button>
                        </div>
                        </div>
                    </form>
                    </div>
                    <div class="tab-pane" id="settingpassword">
                    <form class="form-horizontal" action="{% url 'reset_password' %}" method="post" onsubmit="return validate();">
                        {% csrf_token %}
                        <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">密码</label>
                        <div class="input-group col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="密码"
                                   name="password" minlength="6" maxlength="16" required>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">确认密码</label>
                           <div class="input-group col-sm-10">
                            <input type="password" class="form-control" placeholder="确认密码" id="inputPassword2" minlength="6" maxlength="16" required>
                            <div class="input-group-append">
                              <div class="input-group-text">
                                <span id="tishi"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">提交信息</button>
                        </div>
                        </div>
                    </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'user/js/information.js' %}"></script>
{% endblock %}

