{% extends "easyspider/base.html" %}

{% block title %}爬虫任务列表{% endblock %}

{% block header %}<h1>爬虫任务列表</h1>{% endblock %}

{% block content %}
{% if task_list %}
    <table border="1">
    <tr>
        <th>模板</th>
        <th>任务名称</th>
        <th>创建时间</th>
        <th>模板参数</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    {% for task in task_list %}
    <tr>
        <td>{{ task.template.name }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.create_time }}</td>
        <td>{{ task.args }}</td>
        <td>{{ task.status }}</td>
        <td>
        {% if task.status == 'ready' or task.status == 'paused' %}
            <a href="{% url 'easyspider:start-task' task.id %}">启动</a>
        {% endif %}
        {% if task.status == 'running' %}
            <a href="{% url 'easyspider:pause-task' task.id %}">暂停</a>
        {% endif %}
        {% if task.status == 'running' or task.status == 'paused' %}
            <a href="{% url 'easyspider:stop-task' task.id %}">终止</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>暂无爬虫任务，<a href="{% url 'easyspider:template-list' %}">去创建</a></p>
{% endif %}
{% endblock %}
