{% extends "easyspider/base.html" %}

{% block title %}模板详细信息 - {{ template.name }}{% endblock %}

{% block header %}<h1>{{ template.name }}</h1>{% endblock %}

{% block content %}
    <h3>模板介绍</h3>
    <p>{{ template.introduction }}</p>
    <h3>采集字段预览</h3>
    <p>展示图片</p>
    <h3>模板参数</h3>
    {% for param in template.param_list %}
        <p>{{ param }}</p>
    {% endfor %}
    <h3>创建爬虫任务</h3>
    <form action="{% url 'easyspider:create-task' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="template_id" value="{{ template.id }}">
        <label for="name-input">任务名称</label>
        <input id="name-input" type="text" name="name"  maxlength="255" required>
        <br>
        {% for param in template.param_list %}
        <label for="param{{ forloop.counter }}">{{ param }}</label>
        <input id="param{{ forloop.counter }}" type="text" name="{{ param }}"
               maxlength="255" required>
        <br>
        {% endfor %}
        <input type="submit" value="确定">
    </form>
{% endblock %}
