{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 管理现有模板{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'easyspider/css/templateUpload.css' %}" />
{% endblock %}

{% block page_title %}管理现有模板{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item active">
        管理现有模板
    </li>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">爬虫模板列表</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>介绍</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for template in template_list %}

                        {% endfor %}
                        <tr>
                            <td>5</td>
                            <td>豆瓣热门电影</td>
                            <td>此模板用于采集豆瓣电影类目下的热门电影信息</td>
                            <td>
                                <button class="btn btn-primary" type="button">修改</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>豆瓣图书</td>
                            <td>此模板用于采集豆瓣图书类目下的图书信息</td>
                            <td>
                                 <button class="btn btn-primary" type="button">修改</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'easyspider/js/bs-custom-file-input.min.js' %}"></script>
{% endblock %}

