{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 用户首页{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'spiderTemplate/css/starter.css' %}" />
{% endblock %}

{% block page_title %}首页{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item active">首页</li>
    <li class="breadcrumb-item"></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card card-widget widget-user-2 m-auto" id="logo">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
                <div class="widget-user-image text-center">
                    <img class="img" src="{% static 'img/logo.png' %}" alt="logo" />
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">
                    EasySpider · 大数据
                </h3>
                <h5 class="widget-user-desc stretch">
                    让数据触手可及
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-group m-auto" id="search-box">
            <input
                type="text"
                name="search"
                class="form-control float-right"
                placeholder="请输入要采集的网站名称..."
                id="starter-search-box"
            />
            <div class="input-group-append">
                <a type="submit" class="btn btn-default" href="{% url "template_first" %}">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12" id="hot-template-header">
            <!-- /.card-header -->
            <div class="card-body">
                <blockquote>
                    <p>
                        热门采集模板
                    </p>
                </blockquote>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="row hot-templates">
        {% for site in sites %}
            {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"4" == True %}
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
            {% endif %}
            <div class="col-md-auto m-auto">
                <a href="{% url 'template_second' site.pk %}">
                    <!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header">
                            <div class="widget-user-image text-center">
                                <img
                                    class="img"
                                    src="{{ site.logo }}"
                                    alt="{{ site.name }} Logo"
                                />
                            </div>
                            <!-- /.widget-user-image -->
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <span class="nav-link text-center website-name">
                                        {{ site.display_name }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row hot-template-footer">
        <div class="ml-auto"></div>
        <div class="col-md-auto">
            <a href="{% url 'template_first' %}">更多>></a>
        </div>
    </div>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'spiderTemplate/js/starter.js' %}"></script>
{% endblock %}
