{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 模板配置{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'spiderTemplate/css/templateSetting.css' %}" />
{% endblock %}

{% block page_title %}参数配置{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_first' %}"
            >选择模板</a
        >
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_second' template.site.pk %}">{{ template.site.display_name }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_info' template.pk %}">{{ template.display_name }}</a>
    </li>
    <li class="breadcrumb-item active">
        参数配置
    </li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div
            class="card card-primary col-6"
            id="arguments-card"
        >
            <!-- form start -->
            <form role="form" action="{% url 'create_task' template.pk %}" method="post" id="setting-form">
                {% csrf_token %}
                <div class="card-body">
                    <h5>基本信息</h5>
                    <div class="form-group">
                        <label for="inputTaskName"
                            >任务名</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            placeholder="请输入任务名"
                            name="inputTaskName"
                        />
                    </div>
                    <h5>配置参数</h5>
                    {% for param in template.param_set.all %}
                        <div class="form-group arguments-form">
                            <span class="sr-only">{{ param.name }}</span>
                            <label for="input_{{ param.name }}"
                                >{{ param.display_name }}</label
                            >
                            {% if param.input_label == "input" %}
                                <input
                                    type="{{ param.input_type }}"
                                    id="input_{{ param.name }}"
                                    class="form-control"
                                    placeholder="请输入{{ param.display_name }}"
                                    name="{{ param.name }}"
                                />
                            {% else %}
                                <textarea
                                    class="form-control"
                                    rows="3"
                                    placeholder="请输入{{ param.display_name }}"
                                    name="{{ param.name }}"
                                ></textarea>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button
                        type="submit"
                        class="btn btn-primary swalDefaultSuccess"
                    >
                        保存并启动
                    </button>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
        <div class="col-6" id="setting-img-wrapper">
            <img src="{{ template.param_set.all.first.pic }}" />
        </div>
    </div>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'spiderTemplate/js/templateSetting.js' %}"></script>
{% endblock %}
