{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 模板详情{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'spiderTemplate/css/templateInfo.css' %}" />
{% endblock %}

{% block page_title %}{{ template.display_name }}{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_first' %}">选择模板</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_second' template.site.pk %}">{{ template.site.display_name }}</a>
    </li>
    <li class="breadcrumb-item active">
        {{ template.display_name }}
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card card-solid">
            <div class="card-body">
              <div class="row">
                <div class="col-2 text-center">
                  <img
                    src="{{ template.logo }}"
                    alt="{{ template.display_name }} Logo"
                    id="template-logo"
                  />
                </div>
                <div class="col-10">
                  <h3 class="my-3">
                    {{ template.display_name }}
                  </h3>
                  <p>
                    模板更新时间：<span id="template-update-time"
                      >{{ template.update_time|date:"Y/m/d" }}</span
                    >
                  </p>
                  <div class="mt-4">
                    <a type="button" class="btn btn-primary" href="{% url 'template_setting' template.pk %}">
                      立即使用
                    </a>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <nav class="w-100">
                  <div
                    class="nav nav-tabs"
                    id="template-tab"
                    role="tablist"
                  >
                    <a
                      class="nav-item nav-link active"
                      id="template-desc-tab"
                      data-toggle="tab"
                      href="#template-desc"
                      role="tab"
                      aria-controls="template-desc"
                      aria-selected="true"
                      >模板介绍</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="data-field-preview-tab"
                      data-toggle="tab"
                      href="#data-field-preview"
                      role="tab"
                      aria-controls="data-field-preview"
                      aria-selected="false"
                      >采集字段预览</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="arguments-preview-tab"
                      data-toggle="tab"
                      href="#arguments-preview"
                      role="tab"
                      aria-controls="arguments-preview"
                      aria-selected="false"
                      >采集参数预览</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="example-data-tab"
                      data-toggle="tab"
                      href="#example-data"
                      role="tab"
                      aria-controls="example-data"
                      aria-selected="false"
                      >示例数据</a
                    >
                  </div>
                </nav>
                <div
                  class="tab-content p-3"
                  id="template-nav-tabContent"
                  style="width: 100%;"
                >
                  <div
                    class="tab-pane fade show active"
                    id="template-desc"
                    role="tabpanel"
                    aria-labelledby="template-desc-tab"
                  >
                    {{ template.introduction|safe }}
                  </div>
                  <div
                    class="tab-pane fade"
                    id="data-field-preview"
                    role="tabpanel"
                    aria-labelledby="data-field-preview-tab"
                  >
                    <div class="row">
                      <div class="col-5 col-sm-3">
                        <div
                          class="nav flex-column nav-tabs h-100"
                          id="data-field-vert-tabs-tab"
                          role="tablist"
                          aria-orientation="vertical"
                        >
                            {% for field in template.field_set.all %}
                              <a
                                class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}"
                                id="vert-tabs-{{ field.name }}-tab"
                                data-toggle="pill"
                                href="#vert-tabs-{{ field.name }}"
                                role="tab"
                                aria-controls="vert-tabs-{{ field.name }}"
                                aria-selected="true"
                                >{{ field.display_name }}</a
                              >
                            {% endfor %}
                        </div>
                      </div>
                      <div class="col-7 col-sm-9">
                        <div
                          class="tab-content"
                          id="data-field-vert-tabs-tabContent"
                        >
                            {% for field in template.field_set.all %}
                              <div
                                class="tab-pane fade {% if forloop.counter0 == 0 %}show active{% endif %}"
                                id="vert-tabs-{{ field.name }}"
                                role="tabpanel"
                                aria-labelledby="vert-tabs-{{ field.name }}-tab"
                              >
                                <img src="{{ field.pic }}" />
                              </div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="arguments-preview"
                    role="tabpanel"
                    aria-labelledby="arguments-preview-tab"
                  >
                    <div class="row">
                      <div class="col-5 col-sm-3">
                        <div
                          class="nav flex-column nav-tabs h-100"
                          id="arguments-vert-tabs-tab"
                          role="tablist"
                          aria-orientation="vertical"
                        >
                            {% for param in template.param_set.all %}
                                <a
                                    class="nav-link {% if forloop.counter0 == 0 %}active{% endif %}"
                                    id="vert-tabs-{{ param.name }}-tab"
                                    data-toggle="pill"
                                    href="#vert-tabs-{{ param.name }}"
                                    role="tab"
                                    aria-controls="vert-tabs-{{ param.name }}"
                                    aria-selected="true"
                                    >{{ param.display_name }}</a
                                >
                            {% endfor %}
                        </div>
                      </div>
                      <div class="col-7 col-sm-9">
                        <div
                          class="tab-content"
                          id="arguments-vert-tabs-tabContent"
                        >
                            {% for param in template.param_set.all %}
                                <div
                                    class="tab-pane fade {% if forloop.counter0 == 0 %}show active{% endif %}"
                                    id="vert-tabs-{{ param.name }}"
                                    role="tabpanel"
                                    aria-labelledby="vert-tabs-{{ param.name }}-tab"
                                  >
                                    <img src="{{ param.pic }}" />
                                </div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="example-data"
                    role="tabpanel"
                    aria-labelledby="example-data-tab"
                    style="width: 100%;"
                  >
                    <div class="card" id="example-data-table">
                      <div class="card-body table-responsive p-0">
                        {{ template.sample_data|safe }}
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
{% endblock %}