{% extends 'dashboardBase.html' %}
{% load static %}
{% load spiderTemplate_extras %}

{% block title %}EasySpider | 二级模板选择{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'spiderTemplate/css/templateFirst.css' %}" />
{% endblock %}

{% block page_title %}{{ template_list.first.site.display_name }}{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_first' %}">选择模板</a>
    </li>
    <li class="breadcrumb-item active">{{ site_name }}</li>
    <li class="breadcrumb-item"></li>
{% endblock %}

{% block content %}
    <div class="row hot-templates">
        {% for template in template_list %}
            {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"4" == True %}
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
            {% endif %}
            <div class="col-md-auto m-auto">
              <a href="{% url 'template_info' template.pk %}">
                  <!-- Widget: user widget style 2 -->
                  <div class="card card-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header">
                        <div class="widget-user-image text-center">
                          <img
                            class="img"
                            src="{{ template.logo }}"
                            alt="{{ template.display_name }} Logo"
                          />
                        </div>
                        <!-- /.widget-user-image -->
                      </div>
                      <div class="card-footer p-0">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <span class="nav-link text-center website-name">
                              {{ template.display_name }}
                            </span>
                          </li>
                          <li class="nav-item">
                            <span class="nav-link">
                              <i class="far fa-eye"></i>&nbsp; 123 &nbsp;&nbsp;
                              <span class="float-right"
                                ><i class="fas fa-cloud-download-alt"></i>&nbsp;
                                123</span
                              >
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  <!-- /.widget-user -->
              </a>
            </div>
        {% endfor %}
        {% if template_list.count|divisibleby:"4" == False %}
            {% for i in template_list.count|remainder_list %}
                <div class="col-md-auto m-auto hidden">
                    <!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header">
                        <div class="widget-user-image text-center">
                          <img
                            class="img"
                            src="{{ template_list.last.logo }}"
                            alt="{{ template_list.last.display_name }} Logo"
                          />
                        </div>
                        <!-- /.widget-user-image -->
                      </div>
                      <div class="card-footer p-0">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <span class="nav-link text-center">
                              {{ template_list.last.display_name }}
                            </span>
                          </li>
                          <li class="nav-item">
                            <span class="nav-link">
                              <i class="far fa-eye"></i>&nbsp; 123 &nbsp;&nbsp;
                              <span class="float-right"
                                ><i class="fas fa-cloud-download-alt"></i>&nbsp;
                                123</span
                              >
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block js_extend %}
    <script src="{% static 'spiderTemplate/js/templateFirst.js' %}"></script>
{% endblock %}

