{% extends 'dashboardBase.html' %}
{% load static %}
{% load spiderTemplate_extras %}

{% block title %}EasySpider | 模板配置{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'spiderTemplate/css/templateSetting.css' %}" />
{% endblock %}

{% block page_title %}参数配置{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_first' %}"
            >选择模板</a
        >
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_second' template.site.pk %}">{{ template.site.display_name }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_info' template.pk %}">{{ template.display_name }}</a>
    </li>
    <li class="breadcrumb-item active">
        参数配置
    </li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div
            class="card card-primary col-6"
            id="arguments-card"
        >
            <!-- form start -->
            <form role="form" action="{% if template_setting_task %}
                                        {% url 'restart_task' template_setting_task.pk %}
                                      {% else %}
                                        {% url 'create_task' template.pk %}
                                      {% endif %}" method="post" id="setting-form">
                {% csrf_token %}
                <div class="card-body">
                    <h5>基本信息</h5>
                    <div class="form-group">
                        <label for="inputTaskName"
                            >任务名</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            placeholder="请输入任务名"
                            name="inputTaskName"
                            value="{% if template_setting_task %}{{ template_setting_task.name }}{% endif %}"
                            required
                        />
                    </div>
                    <h5>配置参数</h5>
                    <div class="form-group arguments-form">
                    {% for param in template.param_set.all %}
                            <label class="{% if forloop.counter0 != 0 %}margin{% endif %}" for="input_{{ param.name }}"
                                >{{ param.display_name }}</label
                            >
                            {% if param.input_label == "input" %}
                                <input
                                    type="{{ param.input_type }}"
                                    id="input_{{ param.name }}"
                                    class="form-control"
                                    placeholder="请输入{{ param.display_name }}"
                                    name="{{ param.name }}"
                                    value="{% if template_setting_task %}{{ template_setting_task.args_dict|get_dict_value:param.name }}{% endif %}"
                                    required
                                />
                            {% else %}
                                <textarea
                                    class="form-control"
                                    rows="3"
                                    placeholder="请输入{{ param.display_name }}"
                                    name="{{ param.name }}"
                                    required
                                >{{ template_setting_task.args_dict|get_dict_value:param.name }}</textarea>
                            {% endif %}
                    {% endfor %}
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        <span class="spinner-border spinner-border-sm loading" role="status" aria-hidden="true"></span>
                        保存并启动
                    </button>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
        <div class="col-6" id="setting-img-wrapper">
            <img src="{{ template.param_set.all.first.pic }}" />
        </div>
    </div>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'spiderTemplate/js/templateSetting.js' %}"></script>
    <script>
        let btn = $(".btn-primary");
        let btnSpan = btn.find("span");
        $("#setting-form").submit(function () {
            let isValid = true;
            btn.attr('disabled','disabled');
            btnSpan.removeClass("loading");
            // 数据验证
            $("input[type=text], textarea").each(function () {
                let value = $(this).val().trim();
                if(value.length === 0) {
                    Toast.fire({
                        icon: "error",
                        title: "&nbsp;" + $(this).attr("placeholder").slice(3) + "不能为空",
                    });
                    isValid = false;
                    return false;
                } else {
                    if($(this).attr("name") === "inputTaskName") {
                        if(value < 3 || value.length > 20) {
                            Toast.fire({
                                icon: "error",
                                title: "&nbsp;任务名长度应在3~20个字符之间",
                            });
                            isValid = false;
                            return false;
                        }
                    }
                }
            });

            $("input[type=number]").each(function () {
                let numberValue = $(this).val();
                if(numberValue < 0 || numberValue > 100) {
                    Toast.fire({
                        icon: "error",
                        title: "&nbsp;错误的值：" + $(this).val() + "，请输入1~99",
                    });
                    isValid = false;
                    return false;
                }
            });

            // 任务状态验证
            {% if template_setting_task %}
                {% if template_setting_task.status != 'finished' and template_setting_task.status != 'canceled' %}
                    Toast.fire({
                        icon: "error",
                        title: "&nbsp;非已完成或已终止的任务无法重新启动",
                    });
                    isValid = false;
                {% endif %}
            {% endif %}
            if(!isValid) {
                btn.removeAttr("disabled");
                btnSpan.addClass("loading");
            } else {
                $.ajax({
                    url: $(this).attr("action"),
                    type: "POST",
                    data: $(this).serialize(),
                    cache: false,
                    success: function (data) {
                        if(data["status"] === "SUCCESS") {
                            btn.removeAttr('disabled');
                            btnSpan.addClass("loading");
                            Toast.fire({
                                icon: "success",
                                title: "&nbsp;任务创建成功，请到我的任务页面查看",
                            });
                            // get top 5 tasks
                            let tasks = data["tasks"];
                            if (tasks) {
                                let recentEditList = $("#recent-edit-list");
                                $("#recent-edit-link").addClass("active");
                                // remove cur tasks
                                recentEditList.empty();
                                // 重新填充 这里将第一个任务置为active即可
                                for(let i = 0; i < tasks.length; i++) {
                                    let taskID = tasks[i]['id'];
                                    let templateID = tasks[i]['template_id'];
                                    let url = "{% url 'template_setting' 1 %}".split("/").slice(0, -2).concat(templateID).join("/") + "/";
                                    if(i === 0) {
                                        recentEditList.append("<li class=\"nav-item edit-item\">\n" +
                                        "<a class=\"nav-link active\" href=\""+ url + "?taskID=" + taskID + "\">\n" +
                                        "                                            <i\n" +
                                        "                                                class=\"far fa-circle nav-icon hidden\"\n" +
                                        "                                            ></i>\n" +
                                        "                                            <p>\n" +
                                        "                                                " + escapeHtml(tasks[i]['name']) +"\n" +
                                        "                                            </p>\n" +
                                        "                                        </a>\n" +
                                        "                                    </li>");
                                    } else {
                                        recentEditList.append("<li class=\"nav-item edit-item\">\n" +
                                        "<a class=\"nav-link\" href=\""+ url + "?taskID=" + taskID + "\">\n" +
                                        "                                            <i\n" +
                                        "                                                class=\"far fa-circle nav-icon hidden\"\n" +
                                        "                                            ></i>\n" +
                                        "                                            <p>\n" +
                                        "                                                " + escapeHtml(tasks[i]['name']) +"\n" +
                                        "                                            </p>\n" +
                                        "                                        </a>\n" +
                                        "                                    </li>");
                                    }
                                 }
                                sessionStorage.setItem('recent-edit-update', JSON.stringify(tasks));
                            }
                        } else {
                            btn.removeAttr('disabled');
                            btnSpan.addClass("loading");
                            Toast.fire({
                                icon: "error",
                                title: "&nbsp;" + data["message"],
                            });
                        }
                    },
                    error: function (xhr) {
                        btn.removeAttr('disabled');
                        btnSpan.addClass("loading");
                        console.log(xhr);
                    }
                });
            }
        return false;
    });
    </script>
{% endblock %}
