{% extends 'dashboardBase.html' %}
{% load static %}
{% load spiderTemplate_extras %}

{% block title %}EasySpider | 模板选择{% endblock %}

{% block css_extend %}
    <link
        rel="stylesheet"
        href="{% static 'spiderTemplate/css/templateFirst.css' %}"
    />
{% endblock %}

{% block page_title %}选择模板{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item active">选择模板</li>
    <li class="breadcrumb-item"></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card" id="template-type-card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">模板类型：</h3>
                <ul class="nav nav-pills p-2" id="template-type">
                    <li class="nav-item">
                        <a class="nav-link
                            {% if type == 'hot' %}
                                active
                            {% endif %}"
                           href="{% url 'template_first' %}?type=hot&order={{ order }}">
                            热门
                        </a>
                    </li>
                    {% for site_type in site_types %}
                        <li class="nav-item">
                            <a class="nav-link
                            {% if type == site_type.name %}
                                active
                            {% endif %}"
                            href="{% url 'template_first' %}?type={{ site_type.name }}&order={{ order }}">
                                {{ site_type.display_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <form class="form-inline ml-auto" id="template-search">
                    <div class="input-group">
                        <input
                            type="text"
                            name="search"
                            class="form-control float-right"
                            placeholder="搜索模板组..."
                            id="template-search-box"
                        />
                        <div class="input-group-append">
                            <a type="submit" class="btn btn-default" href="{% url 'template_first' %}?order={{ order }}">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">模板排序：</h3>
                <ul class="nav nav-pills ml-auto p-2" id="template-order">
                    <li class="nav-item">
                        <a class="nav-link
                        {% if order == 'hot' %}
                            active
                        {% endif %}"
                        href="{% url 'template_first' %}?type={{ type }}&order=hot&search={{ search }}">
                            热门
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                        {% if order == 'update_time' %}
                            active
                        {% endif %}"
                        href="{% url 'template_first' %}?type={{ type }}&order=update_time&search={{ search }}">
                            更新时间
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row hot-templates">
        {% for site in sites %}
            {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:"4" == True %}
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
            {% endif %}
            <div class="col-md-auto m-auto">
                <a href="{% url 'template_second' site.pk %}">
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header">
                            <div class="widget-user-image text-center">
                                <img class="img" src="{{ site.logo }}" alt="{{ site.display_name }} Logo" />
                            </div>
                            <!-- /.widget-user-image -->
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <span class="nav-link text-center website-name">
                                        {{ site.display_name }}
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link text-center">
                                        共{{ site.template_set.count }}个模板>>
                                    </span>
                                </li>
                            </ul>
                        </div>
                </div>
                    <!-- /.widget-user -->
                </a>
            </div>
            {% if forloop.counter == sites|length %}
                {% if sites|length|divisibleby:"4" == False %}
                    {% for i in sites|length|remainder_list %}
                        <div class="col-md-auto m-auto hidden">
                            <a href="{% url 'template_second' site.pk %}">
                                <div class="card card-widget widget-user-2">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header">
                                        <div class="widget-user-image text-center">
                                            <img class="img" src="{{ site.logo }}" alt="{{ site.display_name }} Logo" />
                                        </div>
                                        <!-- /.widget-user-image -->
                                    </div>
                                    <div class="card-footer p-0">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <span class="nav-link text-center website-name">
                                                    {{ site.display_name }}
                                                </span>
                                            </li>
                                            <li class="nav-item">
                                                <span class="nav-link text-center">
                                                    共{{ site.template_set.count }}个模板>>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block js_extend %}
    <script src="{% static 'spiderTemplate/js/templateFirst.js' %}"></script>
{% endblock %}
