{% extends 'dashboardBase.html' %}
{% load static %}

{% block title %}EasySpider | 模板配置{% endblock %}

{% block css_extend %}
    <link rel="stylesheet" href="{% static 'spiderTemplate/css/templateSetting.css' %}" />
    <!-- SweetAlert2 -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4@3.1.4/bootstrap-4.min.css"
    />
{% endblock %}

{% block page_title %}参数配置{% endblock %}

{% block page_link %}
    <li class="breadcrumb-item">
        <a href="{% url 'starter' %}">首页</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_first' %}"
            >选择模板</a
        >
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_second' 'douban' %}">豆瓣</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'template_info' 'douban' 'movie' %}">豆瓣电影</a>
    </li>
    <li class="breadcrumb-item active">
        参数配置
    </li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div
            class="card card-primary col-6"
            id="arguments-card"
        >
            <!-- form start -->
            <form role="form" action="" method="post" id="setting-form">
                {% csrf_token %}
                <div class="card-body">
                    <h5>基本信息</h5>
                    <div class="form-group">
                        <label for="inputTaskName"
                            >任务名</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            placeholder="请输入任务名"
                            name="inputTaskName"
                        />
                    </div>
                    <h5>配置参数</h5>
                    <div class="form-group arguments-form">
                        <span class="sr-only">page</span>
                        <label for="inputPageNum"
                            >翻页次数</label
                        >
                        <input
                            type="number"
                            class="form-control"
                            placeholder="请输入翻页次数"
                            name="inputPageNum"
                        />
                    </div>
                    <div class="form-group arguments-form">
                        <span class="sr-only">url</span>
                        <label>网址(1-9999)</label>
                        <textarea
                            class="form-control"
                            rows="3"
                            placeholder="请输入网址"
                            name="textareaUrl"
                        ></textarea>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary swalDefaultSuccess"
                    >
                        保存并启动
                    </button>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
        <div class="col-6" id="setting-img-wrapper">
            <img src="{% static 'spiderTemplate/img/website/douban/subtemplates/doubanmovie/parameter/page.jpg' %}" />
        </div>
    </div>
{% endblock %}

{% block js_extend %}
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.min.js"></script>
    <script src="{% static 'spiderTemplate/js/templateSetting.js' %}"></script>
{% endblock %}
